In [ ]:
import pandas as pd
import seaborn as sns

In [ ]:
Student = pd.read_csv('/content/student-scores.csv')

In [ ]:
Student #학생들의 성적에 대한 데이터

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88,80,89,63,86
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65,65,80,74,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,Alan,Reynolds,alan.reynolds.1996@gslingacademy.com,male,False,2,False,30,Construction Engineer,83,77,84,73,75,84,82
1996,1997,Thomas,Gilbert,thomas.gilbert.1997@gslingacademy.com,male,False,2,False,20,Software Engineer,89,65,73,80,87,67,73
1997,1998,Madison,Cross,madison.cross.1998@gslingacademy.com,female,False,5,False,14,Software Engineer,97,85,63,93,68,94,78
1998,1999,Brittany,Compton,brittany.compton.1999@gslingacademy.com,female,True,10,True,5,Business Owner,51,96,72,89,95,88,75
1999,2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,82,99,91,69,83,93,100

In [ ]:
df = Student.copy()

In [ ]:
pcl_grp = df.groupby('gender') #성별로 그룹화

In [ ]:
pcl_grp.get_group('female')

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88,80,89,63,86
5,6,Kelly,Wade,kelly.wade.6@gslingacademy.com,female,False,2,False,26,Unknown,93,100,67,78,72,80,84
9,10,Audrey,Simpson,audrey.simpson.10@gslingacademy.com,female,False,3,True,18,Teacher,98,69,88,71,67,71,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1987,1988,Holly,Erickson,holly.erickson.1988@gslingacademy.com,female,False,6,False,8,Designer,97,91,61,75,95,61,89
1991,1992,Charlotte,Rowe,charlotte.rowe.1992@gslingacademy.com,female,False,4,False,27,Lawyer,88,96,79,70,95,90,99
1997,1998,Madison,Cross,madison.cross.1998@gslingacademy.com,female,False,5,False,14,Software Engineer,97,85,63,93,68,94,78
1998,1999,Brittany,Compton,brittany.compton.1999@gslingacademy.com,female,True,10,True,5,Business Owner,51,96,72,89,95,88,75
1999,2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,82,99,91,69,83,93,100

In [ ]:
pcl_grp

In [ ]:
for i, j in pcl_grp:
  print(i, '묶인 그룹')
  print(j, 'data')

female 묶인 그룹
        id first_name last_name                                    email  \
1        2   Danielle  Sandoval    danielle.sandoval.2@gslingacademy.com
2        3       Tina   Andrews         tina.andrews.3@gslingacademy.com
3        4       Tara     Clark           tara.clark.4@gslingacademy.com
5        6      Kelly      Wade           kelly.wade.6@gslingacademy.com
9       10     Audrey   Simpson      audrey.simpson.10@gslingacademy.com
...    ...        ...       ...                                      ...
1987  1988      Holly  Erickson    holly.erickson.1988@gslingacademy.com
1991  1992  Charlotte      Rowe    charlotte.rowe.1992@gslingacademy.com
1997  1998    Madison     Cross     madison.cross.1998@gslingacademy.com
1998  1999   Brittany   Compton  brittany.compton.1999@gslingacademy.com
1999  2000    Natalie     Smith     natalie.smith.2000@gslingacademy.com

      gender  part_time_job  absence_days  extracurricular_activities  \
1     female          False             2                       False
2     female          False             9                        True
3     female          False             5                       False
5     female          False             2                       False
9     female          False             3                        True
...      ...            ...           ...                         ...
1987  female          False             6                       False
1991  female          False             4                       False
1997  female          False             5                       False
1998  female           True            10                        True
1999  female          False             5                       False

      weekly_self_study_hours   career_aspiration  math_score  history_score  \
1                          47              Doctor          90             86
2                          13  Government Officer          81             97
3                           3              Artist          71             74
5                          26             Unknown          93            100
9                          18             Teacher          98             69
...                       ...                 ...         ...            ...
1987                        8            Designer          97             91
1991                       27              Lawyer          88             96
1997                       14   Software Engineer          97             85
1998                        5      Business Owner          51             96
1999                       27          Accountant          82             99

      physics_score  chemistry_score  biology_score  english_score  \
1                96              100             90             88
2                95               96             65             77
3                88               80             89             63
5                67               78             72             80
9                88               71             67             71
...             ...              ...            ...            ...
1987             61               75             95             61
1991             79               70             95             90
1997             63               93             68             94
1998             72               89             95             88
1999             91               69             83             93

      geography_score
1                  90
2                  94
3                  86
5                  84
9                  73
...               ...
1987               89
1991               99
1997               78
1998               75
1999              100

[1002 rows x 17 columns] data
male 묶인 그룹
        id first_name  last_name                                  email  \
0        1       Paul      Casey         paul.casey.1@gslingacademy.com
4        5    Anthony     Campos     anthony.campos.5@gslingacademy.com
6        7    Anthony      Smith      anthony.smith.7@gslingacademy.com
7        8     George      Short       george.short.8@gslingacademy.com
8        9    Stanley  Gutierrez  stanley.gutierrez.9@gslingacademy.com
...    ...        ...        ...                                    ...
1992  1993       John   Peterson   john.peterson.1993@gslingacademy.com
1993  1994      Shawn      Ochoa     shawn.ochoa.1994@gslingacademy.com
1994  1995     Steven      Lewis    steven.lewis.1995@gslingacademy.com
1995  1996       Alan   Reynolds   alan.reynolds.1996@gslingacademy.com
1996  1997     Thomas    Gilbert  thomas.gilbert.1997@gslingacademy.com

     gender  part_time_job  absence_days  extracurricular_activities  \
0      male          False             3                       False
4      male          False             5                       False
6      male          False             3                        True
7      male           True             2                        True
8      male          False             6                       False
...     ...            ...           ...                         ...
1992   male          False             2                        True
1993   male          False             3                       False
1994   male          False             1                       False
1995   male          False             2                       False
1996   male          False             2                       False

      weekly_self_study_hours      career_aspiration  math_score  \
0                          27                 Lawyer          73
4                          10                Unknown          84
6                          23      Software Engineer          99
7                          34      Software Engineer          95
8                          25                Unknown          94
...                       ...                    ...         ...
1992                       12                 Banker          79
1993                       46                 Doctor          92
1994                       19             Accountant          76
1995                       30  Construction Engineer          83
1996                       20      Software Engineer          89

      history_score  physics_score  chemistry_score  biology_score  \
0                81             93               97             63
4                77             65               65             80
6                96             97               73             88
7                95             82               63             84
8                68             94               85             81
...             ...            ...              ...            ...
1992             83             76               99            100
1993             92             91               95             88
1994             62             90               82             93
1995             77             84               73             75
1996             65             73               80             87

      english_score  geography_score
0                80               87
4                74               76
6                76               64
7                70               85
8                74               72
...             ...              ...
1992             84               71
1993             94               93
1994             71               61
1995             84               82
1996             67               73

[998 rows x 17 columns] data

In [ ]:
pcl_grp_2 = df.groupby(['part_time_job', 'absence_days'])
for i, j in pcl_grp_2:
  print(i, '묶인 그룹')
  print(j, 'data')

(False, 0) 묶인 그룹
        id   first_name   last_name  \
27      28        Peter       Gibbs
30      31        Angie      Miller
47      48        Billy        Soto
49      50        Sonia       Noble
90      91      Patrick      Parker
...    ...          ...         ...
1933  1934  Christopher  Montgomery
1946  1947      Melissa      Finley
1949  1950       Pamela       Smith
1982  1983        Debra     Gilbert
1990  1991      Anthony       Moore

                                              email  gender  part_time_job  \
27                 peter.gibbs.28@gslingacademy.com    male          False
30                angie.miller.31@gslingacademy.com  female          False
47                  billy.soto.48@gslingacademy.com    male          False
49                 sonia.noble.50@gslingacademy.com  female          False
90              patrick.parker.91@gslingacademy.com    male          False
...                                             ...     ...            ...
1933  christopher.montgomery.1934@gslingacademy.com    male          False
1946          melissa.finley.1947@gslingacademy.com  female          False
1949            pamela.smith.1950@gslingacademy.com  female          False
1982           debra.gilbert.1983@gslingacademy.com  female          False
1990           anthony.moore.1991@gslingacademy.com    male          False

      absence_days  extracurricular_activities  weekly_self_study_hours  \
27               0                       False                       23
30               0                       False                       14
47               0                        True                       28
49               0                       False                       14
90               0                       False                       14
...            ...                         ...                      ...
1933             0                       False                       21
1946             0                        True                       30
1949             0                        True                       19
1982             0                       False                        8
1990             0                       False                       17

      career_aspiration  math_score  history_score  physics_score  \
27               Writer          64             75             93
30    Software Engineer          88             69             87
47       Stock Investor          81             98             74
49           Accountant         100             89             90
90           Accountant          95             78             95
...                 ...         ...            ...            ...
1933            Unknown          64             74             79
1946            Unknown          80             77             96
1949             Banker          83             70             72
1982            Teacher          83             91             69
1990  Software Engineer          98             63             64

      chemistry_score  biology_score  english_score  geography_score
27                 79             81             96               85
30                100             88             85               72
47                 70             97             65               65
49                 93             30             83               74
90                 73             32             65               68
...               ...            ...            ...              ...
1933               72             74             65               95
1946               64             93             62               86
1949               65             63             88               94
1982               74             98             86               76
1990               82             64             96               79

[109 rows x 17 columns] data
(False, 1) 묶인 그룹
        id first_name  last_name                                   email  \
11      12    Clinton   Randolph   clinton.randolph.12@gslingacademy.com
18      19   Jonathan     Werner    jonathan.werner.19@gslingacademy.com
28      29    Jeffrey  Blanchard  jeffrey.blanchard.29@gslingacademy.com
33      34    Phyllis       Diaz       phyllis.diaz.34@gslingacademy.com
35      36      Kelly     Farley       kelly.farley.36@gslingacademy.com
...    ...        ...        ...                                     ...
1963  1964      David   Calderon   david.calderon.1964@gslingacademy.com
1964  1965      James     Gordon     james.gordon.1965@gslingacademy.com
1970  1971      James     Bryant     james.bryant.1971@gslingacademy.com
1986  1987      David      Frank      david.frank.1987@gslingacademy.com
1994  1995     Steven      Lewis     steven.lewis.1995@gslingacademy.com

      gender  part_time_job  absence_days  extracurricular_activities  \
11      male          False             1                       False
18      male          False             1                       False
28      male          False             1                        True
33    female          False             1                       False
35    female          False             1                       False
...      ...            ...           ...                         ...
1963    male          False             1                       False
1964    male          False             1                       False
1970    male          False             1                       False
1986    male          False             1                       False
1994    male          False             1                       False

      weekly_self_study_hours   career_aspiration  math_score  history_score  \
11                          7             Unknown          80             61
18                         37              Doctor          92             87
28                         17          Accountant          79             65
33                         24              Banker          99             84
35                         21             Unknown          65             70
...                       ...                 ...         ...            ...
1963                       47              Doctor          86             93
1964                        9  Government Officer          68             65
1970                       27          Accountant          99             87
1986                       32              Doctor          89             74
1994                       19          Accountant          76             62

      physics_score  chemistry_score  biology_score  english_score  \
11              100               65             87             64
18               92               99             97             87
28               99               71             76             77
33               84               78             78             77
35               78               98             80             66
...             ...              ...            ...            ...
1963             91               94             93             88
1964             95               88             62             87
1970             67               91             36             76
1986             94               87             92             82
1994             90               82             93             71

      geography_score
11                 61
18                 86
28                 83
33                 68
35                 65
...               ...
1963               86
1964               62
1970               64
1986               79
1994               61

[301 rows x 17 columns] data
(False, 2) 묶인 그룹
        id first_name last_name                                  email  \
1        2   Danielle  Sandoval  danielle.sandoval.2@gslingacademy.com
5        6      Kelly      Wade         kelly.wade.6@gslingacademy.com
10      11  Gabrielle     White   gabrielle.white.11@gslingacademy.com
17      18    Maxwell  Davidson  maxwell.davidson.18@gslingacademy.com
19      20     Angela      Rios       angela.rios.20@gslingacademy.com
...    ...        ...       ...                                    ...
1988  1989    Charles    Miller  charles.miller.1989@gslingacademy.com
1989  1990     Samuel     Baker    samuel.baker.1990@gslingacademy.com
1992  1993       John  Peterson   john.peterson.1993@gslingacademy.com
1995  1996       Alan  Reynolds   alan.reynolds.1996@gslingacademy.com
1996  1997     Thomas   Gilbert  thomas.gilbert.1997@gslingacademy.com

      gender  part_time_job  absence_days  extracurricular_activities  \
1     female          False             2                       False
5     female          False             2                       False
10    female          False             2                       False
17      male          False             2                        True
19    female          False             2                       False
...      ...            ...           ...                         ...
1988    male          False             2                       False
1989    male          False             2                       False
1992    male          False             2                        True
1995    male          False             2                       False
1996    male          False             2                       False

      weekly_self_study_hours      career_aspiration  math_score  \
1                          47                 Doctor          90
5                          26                Unknown          93
10                          7                Teacher          65
17                         28      Software Engineer          86
19                         27      Software Engineer          99
...                       ...                    ...         ...
1988                        3                Unknown          66
1989                       17         Stock Investor          77
1992                       12                 Banker          79
1995                       30  Construction Engineer          83
1996                       20      Software Engineer          89

      history_score  physics_score  chemistry_score  biology_score  \
1                86             96              100             90
5               100             67               78             72
10               60             97               94             71
17               83             85               79             93
19               65             98               75             66
...             ...            ...              ...            ...
1988             63             95               76             71
1989             86             97               85             77
1992             83             76               99            100
1995             77             84               73             75
1996             65             73               80             87

      english_score  geography_score
1                88               90
5                80               84
10               81               66
17               76               77
19               72              100
...             ...              ...
1988             99               73
1989             88               93
1992             84               71
1995             84               82
1996             67               73

[312 rows x 17 columns] data
(False, 3) 묶인 그룹
        id   first_name  last_name  \
0        1         Paul      Casey
6        7      Anthony      Smith
9       10       Audrey    Simpson
14      15        Laura    Jackson
16      17        Vicki   Thompson
...    ...          ...        ...
1945  1946  Christopher   Gonzales
1956  1957      Jessica    Beasley
1962  1963      Michael     Parker
1979  1980      Allison  Henderson
1993  1994        Shawn      Ochoa

                                            email  gender  part_time_job  \
0                  paul.casey.1@gslingacademy.com    male          False
6               anthony.smith.7@gslingacademy.com    male          False
9             audrey.simpson.10@gslingacademy.com  female          False
14             laura.jackson.15@gslingacademy.com  female          False
16            vicki.thompson.17@gslingacademy.com  female          False
...                                           ...     ...            ...
1945  christopher.gonzales.1946@gslingacademy.com    male          False
1956       jessica.beasley.1957@gslingacademy.com  female          False
1962        michael.parker.1963@gslingacademy.com    male          False
1979     allison.henderson.1980@gslingacademy.com  female          False
1993           shawn.ochoa.1994@gslingacademy.com    male          False

      absence_days  extracurricular_activities  weekly_self_study_hours  \
0                3                       False                       27
6                3                        True                       23
9                3                        True                       18
14               3                       False                       39
16               3                        True                       30
...            ...                         ...                      ...
1945             3                       False                       17
1956             3                       False                       38
1962             3                       False                       43
1979             3                       False                       27
1993             3                       False                       46

      career_aspiration  math_score  history_score  physics_score  \
0                Lawyer          73             81             93
6     Software Engineer          99             96             97
9               Teacher          98             69             88
14               Doctor          96             90             86
16            Scientist          92             64             93
...                 ...         ...            ...            ...
1945     Stock Investor          80             98             99
1956             Doctor         100             92             87
1962             Doctor          88             98             94
1979             Lawyer          87             86             83
1993             Doctor          92             92             91

      chemistry_score  biology_score  english_score  geography_score
0                  97             63             80               87
6                  73             88             76               64
9                  71             67             71               73
14                 92             92             95               87
16                 91             80             89               72
...               ...            ...            ...              ...
1945               90             64             86               93
1956               94             85             97              100
1962               96             96             89               92
1979               80             90             90               61
1993               95             88             94               93

[301 rows x 17 columns] data
(False, 4) 묶인 그룹
        id   first_name last_name                                     email  \
24      25    Cassandra      West       cassandra.west.25@gslingacademy.com
31      32      Cynthia     Knapp        cynthia.knapp.32@gslingacademy.com
32      33      Timothy    Bryant       timothy.bryant.33@gslingacademy.com
38      39       Miguel  Martinez      miguel.martinez.39@gslingacademy.com
39      40  Christopher    Taylor   christopher.taylor.40@gslingacademy.com
...    ...          ...       ...                                       ...
1941  1942         Lisa    Palmer        lisa.palmer.1942@gslingacademy.com
1961  1962      Sabrina     Perez      sabrina.perez.1962@gslingacademy.com
1973  1974         Lisa   Stewart       lisa.stewart.1974@gslingacademy.com
1985  1986     Benjamin  Williams  benjamin.williams.1986@gslingacademy.com
1991  1992    Charlotte      Rowe     charlotte.rowe.1992@gslingacademy.com

      gender  part_time_job  absence_days  extracurricular_activities  \
24    female          False             4                       False
31    female          False             4                       False
32      male          False             4                       False
38      male          False             4                       False
39      male          False             4                       False
...      ...            ...           ...                         ...
1941  female          False             4                       False
1961  female          False             4                       False
1973  female          False             4                        True
1985    male          False             4                       False
1991  female          False             4                       False

      weekly_self_study_hours   career_aspiration  math_score  history_score  \
24                         35   Software Engineer          87             91
31                         30            Designer          70             68
32                         30          Accountant          77             96
38                         21              Banker          77             64
39                         18          Accountant          92             60
...                       ...                 ...         ...            ...
1941                        5             Unknown          63             68
1961                        4             Unknown          85             60
1973                       26   Software Engineer          95             97
1985                        3  Government Officer          72             81
1991                       27              Lawyer          88             96

      physics_score  chemistry_score  biology_score  english_score  \
24               90               88             95             88
31               92               74             82             85
32               98               89             85             62
38               64               88             94             82
39               66               87             60             83
...             ...              ...            ...            ...
1941             91               82             90             86
1961             61               75             83             87
1973             84               97             75             92
1985             89               92             88             87
1991             79               70             95             90

      geography_score
24                 93
31                 72
32                 62
38                 78
39                 95
...               ...
1941               75
1961               65
1973               92
1985               82
1991               99

[170 rows x 17 columns] data
(False, 5) 묶인 그룹
        id first_name last_name                                  email  \
3        4       Tara     Clark         tara.clark.4@gslingacademy.com
4        5    Anthony    Campos     anthony.campos.5@gslingacademy.com
25      26   Patricia    Chavez   patricia.chavez.26@gslingacademy.com
46      47  Elizabeth    Martin  elizabeth.martin.47@gslingacademy.com
61      62   Brittany      Koch     brittany.koch.62@gslingacademy.com
...    ...        ...       ...                                    ...
1955  1956    Melanie     Clark   melanie.clark.1956@gslingacademy.com
1969  1970     Willie   Elliott  willie.elliott.1970@gslingacademy.com
1981  1982      Shane    Parker    shane.parker.1982@gslingacademy.com
1997  1998    Madison     Cross   madison.cross.1998@gslingacademy.com
1999  2000    Natalie     Smith   natalie.smith.2000@gslingacademy.com


In [ ]:
pcl_grp_2.get_group((False, 0)) #알바를 하지 않고 결석한 적이 없는 사람들

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
27,28,Peter,Gibbs,peter.gibbs.28@gslingacademy.com,male,False,0,False,23,Writer,64,75,93,79,81,96,85
30,31,Angie,Miller,angie.miller.31@gslingacademy.com,female,False,0,False,14,Software Engineer,88,69,87,100,88,85,72
47,48,Billy,Soto,billy.soto.48@gslingacademy.com,male,False,0,True,28,Stock Investor,81,98,74,70,97,65,65
49,50,Sonia,Noble,sonia.noble.50@gslingacademy.com,female,False,0,False,14,Accountant,100,89,90,93,30,83,74
90,91,Patrick,Parker,patrick.parker.91@gslingacademy.com,male,False,0,False,14,Accountant,95,78,95,73,32,65,68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1933,1934,Christopher,Montgomery,christopher.montgomery.1934@gslingacademy.com,male,False,0,False,21,Unknown,64,74,79,72,74,65,95
1946,1947,Melissa,Finley,melissa.finley.1947@gslingacademy.com,female,False,0,True,30,Unknown,80,77,96,64,93,62,86
1949,1950,Pamela,Smith,pamela.smith.1950@gslingacademy.com,female,False,0,True,19,Banker,83,70,72,65,63,88,94
1982,1983,Debra,Gilbert,debra.gilbert.1983@gslingacademy.com,female,False,0,False,8,Teacher,83,91,69,74,98,86,76
1990,1991,Anthony,Moore,anthony.moore.1991@gslingacademy.com,male,False,0,False,17,Software Engineer,98,63,64,82,64,96,79

In [ ]:
pcl_grp_2.mean()

<ipython-input-19-9ac8303a8c97>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pcl_grp_2.mean()

                                     id  extracurricular_activities  \
part_time_job absence_days
False         0             1012.119266                    0.165138
              1             1003.598007                    0.212625
              2             1057.487179                    0.179487
              3              950.797342                    0.215947
              4              971.841176                    0.200000
              5             1015.915663                    0.210843
              6              992.294118                    0.215686
              7              903.871287                    0.198020
              8              992.843750                    0.343750
              9              936.138889                    0.166667
              10            1093.703704                    0.277778
True          0              998.571429                    0.071429
              1             1151.400000                    0.200000
              2              884.750000                    0.281250
              3             1025.200000                    0.171429
              4              982.379310                    0.241379
              5             1206.500000                    0.200000
              6             1063.558824                    0.117647
              7              771.862069                    0.103448
              8              975.789474                    0.210526
              9             1066.550000                    0.400000
              10            1007.294118                    0.176471

                            weekly_self_study_hours  math_score  \
part_time_job absence_days
False         0                           19.513761   86.027523
              1                           19.242525   85.169435
              2                           20.208333   85.426282
              3                           20.853821   85.737542
              4                           20.741176   85.735294
              5                           19.945783   85.024096
              6                           16.098039   83.401961
              7                           15.732673   82.633663
              8                           14.281250   77.687500
              9                            8.472222   77.333333
              10                           8.555556   74.777778
True          0                           21.357143   85.214286
              1                           20.225000   84.150000
              2                           17.156250   83.656250
              3                           21.342857   86.485714
              4                           12.827586   75.689655
              5                           10.833333   79.300000
              6                            4.529412   73.529412
              7                            6.206897   72.275862
              8                            3.578947   76.421053
              9                            5.000000   71.850000
              10                           3.382353   66.441176

                            history_score  physics_score  chemistry_score  \
part_time_job absence_days
False         0                 81.587156      82.385321        80.302752
              1                 81.950166      82.468439        79.787375
              2                 81.189103      83.541667        80.817308
              3                 81.272425      82.784053        81.823920
              4                 81.605882      81.588235        81.358824
              5                 82.066265      81.367470        80.632530
              6                 79.931373      79.509804        79.931373
              7                 78.950495      82.504950        79.138614
              8                 78.812500      79.437500        77.843750
              9                 77.805556      77.833333        77.472222
              10                74.222222      76.925926        79.407407
True          0                 80.500000      80.428571        79.428571
              1                 79.300000      81.725000        83.475000
              2                 81.937500      81.375000        79.000000
              3                 81.771429      78.628571        80.485714
              4                 76.448276      76.896552        77.586207
              5                 73.833333      78.666667        75.533333
              6                 74.088235      74.205882        75.088235
              7                 70.413793      76.965517        73.827586
              8                 76.105263      76.631579        80.684211
              9                 72.600000      77.650000        69.250000
              10                78.882353      72.470588        74.205882

                            biology_score  english_score  geography_score
part_time_job absence_days
False         0                 78.642202      80.348624        82.431193
              1                 80.242525      81.139535        80.797342
              2                 80.826923      82.637821        80.865385
              3                 80.744186      83.083056        81.046512
              4                 78.988235      81.664706        80.364706
              5                 79.361446      83.054217        82.427711
              6                 76.803922      79.196078        80.980392
              7                 79.930693      81.346535        80.356436
              8                 80.531250      80.906250        79.312500
              9                 75.000000      77.666667        81.305556
              10                74.500000      81.796296        80.685185
True          0                 80.642857      79.857143        82.071429
              1                 83.075000      83.475000        77.700000
              2                 82.750000      81.968750        79.031250
              3                 84.057143      82.657143        79.657143
              4                 76.758621      80.275862        81.862069
              5                 77.433333      77.766667        82.566667
              6                 79.852941      76.382353        77.470588
              7                 75.758621      73.862069        77.896552
              8                 78.526316      77.368421        79.894737
              9                 77.600000      67.100000        82.450000
              10                75.294118      77.411765        82.882353

In [ ]:
pcl_grp.std()

<ipython-input-20-0e68244c5703>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pcl_grp.std()

,id,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
gender,,,,,,,,,,,,
female,578.023226,0.372864,2.649255,0.405059,12.006840,13.354044,12.912155,12.689110,12.637915,13.992863,11.922265,11.681795
male,577.233618,0.356561,2.608093,0.401249,12.185896,13.067181,12.561093,12.358527,12.911559,13.442000,12.119596,11.598759

In [ ]:
pcl_grp_2['chemistry_score'].agg(['min', 'max', 'count']) #화학점수의 통계치 보기

                            min  max  count
part_time_job absence_days
False         0              61  100    109
              1              56  100    301
              2              56  100    312
              3              59  100    301
              4              59  100    170
              5              50  100    166
              6              50  100    102
              7              50  100    101
              8              51   98     32
              9              51   97     36
              10             51  100     54
True          0              61   95     14
              1              60  100     40
              2              50   98     32
              3              61   99     35
              4              57   99     29
              5              51  100     30
              6              56  100     34
              7              50   99     29
              8              59   98     19
              9              50   98     20
              10             53   99     34

In [ ]:
def min_max(x):
    return x.max()- x.min()

In [ ]:
pcl_grp.agg(min_max)

<ipython-input-23-2094c8e212f9>:1: FutureWarning: ['first_name', 'last_name', 'email', 'part_time_job', 'extracurricular_activities', 'career_aspiration'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  pcl_grp.agg(min_max)

,id,absence_days,weekly_self_study_hours,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
gender,,,,,,,,,,
female,1998,10,49,60,50,50,50,70,49,40
male,1996,10,50,60,50,50,50,70,49,40

In [ ]:
#결석 일수에 따른 물리 점수 평균 추출하기
df.groupby('absence_days')[['physics_score']].mean()

              physics_score
absence_days
0                 82.162602
1                 82.381232
2                 83.340116
3                 82.351190
4                 80.904523
5                 80.954082
6                 78.183824
7                 81.269231
8                 78.392157
9                 77.767857
10                75.204545

In [ ]:
#결석일수와 성별에 따른 물리 점수 평균 추출하기
df.groupby(['absence_days', 'gender'])[['physics_score']].mean()

                     physics_score
absence_days gender
0            female      81.569231
             male        82.827586
1            female      80.906250
             male        83.685083
2            female      82.493976
             male        84.129213
3            female      82.234940
             male        82.464706
4            female      78.734694
             male        83.009901
5            female      81.757282
             male        80.064516
6            female      77.569444
             male        78.875000
7            female      80.602740
             male        82.122807
8            female      81.720000
             male        75.192308
9            female      78.300000
             male        77.153846
10           female      73.863636
             male        76.545455

In [ ]:
df.groupby(['absence_days', 'gender'])[['physics_score']].agg(['min', 'max', 'std'])
#결석일수와 성별에 따른 물리점수의 최소, 최대, 표준편차 보기

                    physics_score
                              min  max        std
absence_days gender
0            female            62  100  10.717931
             male              61  100  10.510042
1            female            50  100  12.319539
             male              57  100  12.051982
2            female            54  100  12.320344
             male              52  100  10.989987
3            female            56  100  12.267680
             male              60  100  11.813213
4            female            51   98  12.722697
             male              52  100  12.200406
5            female            50  100  12.368101
             male              50  100  12.217064
6            female            50  100  13.954480
             male              53  100  13.193914
7            female            51  100  13.573606
             male              51   99  13.102713
8            female            51  100  12.401344
             male              50  100  15.221089
9            female            57  100  13.600583
             male              50   98  14.823474
10           female            50   98  13.577668
             male              50   99  14.296616

In [ ]:
df['gender'] == 'female' #여성인가

0       False
1        True
2        True
3        True
4       False
        ...
1995    False
1996    False
1997     True
1998     True
1999     True
Name: gender, Length: 2000, dtype: bool

In [ ]:
df[df['gender'] == 'male'] #남성 추출

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65,65,80,74,76
6,7,Anthony,Smith,anthony.smith.7@gslingacademy.com,male,False,3,True,23,Software Engineer,99,96,97,73,88,76,64
7,8,George,Short,george.short.8@gslingacademy.com,male,True,2,True,34,Software Engineer,95,95,82,63,84,70,85
8,9,Stanley,Gutierrez,stanley.gutierrez.9@gslingacademy.com,male,False,6,False,25,Unknown,94,68,94,85,81,74,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1992,1993,John,Peterson,john.peterson.1993@gslingacademy.com,male,False,2,True,12,Banker,79,83,76,99,100,84,71
1993,1994,Shawn,Ochoa,shawn.ochoa.1994@gslingacademy.com,male,False,3,False,46,Doctor,92,92,91,95,88,94,93
1994,1995,Steven,Lewis,steven.lewis.1995@gslingacademy.com,male,False,1,False,19,Accountant,76,62,90,82,93,71,61
1995,1996,Alan,Reynolds,alan.reynolds.1996@gslingacademy.com,male,False,2,False,30,Construction Engineer,83,77,84,73,75,84,82
1996,1997,Thomas,Gilbert,thomas.gilbert.1997@gslingacademy.com,male,False,2,False,20,Software Engineer,89,65,73,80,87,67,73

In [ ]:
#여성이고 3일 결석한 사람들의 주간자율학습시간 평균은?
df[(df['gender']=='female') & (df['absence_days']==3)]['weekly_self_study_hours'].mean()

20.60843373493976

In [ ]:
df[(df['gender']=='male') & (df['part_time_job']==True)].groupby('absence_days')['extracurricular_activities'].sum()
#남성이고 알바를 하고 있는 사람들을 결석일수에 따라 그룹화 후 과외 활동하는 경우의 합

absence_days
0     1
1     4
2     5
3     4
4     3
5     2
6     3
7     1
8     1
9     3
10    2
Name: extracurricular_activities, dtype: int64

In [ ]:
#알바를 하지 않고 생물 점수가 89점인 경우 추출하기
df[(df['part_time_job'] == False) & (df['biology_score'] == 89)]

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88,80,89,63,86
36,37,Ryan,Lee,ryan.lee.37@gslingacademy.com,male,False,2,True,19,Construction Engineer,99,94,87,71,89,91,96
50,51,Christopher,Stewart,christopher.stewart.51@gslingacademy.com,male,False,6,True,16,Stock Investor,76,72,96,65,89,87,94
53,54,Lindsay,Pruitt,lindsay.pruitt.54@gslingacademy.com,female,False,3,False,32,Banker,90,96,86,61,89,98,68
76,77,Jennifer,Garcia,jennifer.garcia.77@gslingacademy.com,female,False,3,False,24,Software Engineer,87,63,60,90,89,99,80
110,111,Joshua,Gonzalez,joshua.gonzalez.111@gslingacademy.com,male,False,4,False,24,Stock Investor,76,89,89,83,89,90,64
189,190,Sonia,Bowers,sonia.bowers.190@gslingacademy.com,female,False,5,False,30,Scientist,95,79,98,95,89,99,87
228,229,Roberto,Evans,roberto.evans.229@gslingacademy.com,male,False,3,False,6,Real Estate Developer,92,95,61,98,89,85,80
281,282,Jorge,Roth,jorge.roth.282@gslingacademy.com,male,False,5,False,34,Scientist,82,95,96,100,89,64,91
317,318,Jody,Mueller,jody.mueller.318@gslingacademy.com,female,False,3,False,2,Game Developer,99,99,87,80,89,78,87
319,320,Taylor,Klein,taylor.klein.320@gslingacademy.com,female,False,4,False,34,Software Engineer,87,84,62,76,89,83,93
351,352,Tammy,Barry,tammy.barry.352@gslingacademy.com,female,False,1,False,5,Game Developer,97,76,91,76,89,60,85
401,402,Teresa,Stafford,teresa.stafford.402@gslingacademy.com,female,False,1,False,20,Banker,84,92,63,91,89,92,76
519,520,Melinda,Payne,melinda.payne.520@gslingacademy.com,female,False,2,False,11,Teacher,95,69,91,97,89,84,66
556,557,Charles,Reid,charles.reid.557@gslingacademy.com,male,False,3,True,28,Lawyer,76,87,99,69,89,93,85
599,600,Lindsay,Morales,lindsay.morales.600@gslingacademy.com,female,False,1,False,23,Doctor,96,91,97,84,89,82,75
720,721,Maria,Hall,maria.hall.721@gslingacademy.com,female,False,9,False,5,Business Owner,85,64,99,93,89,61,67
745,746,Thomas,Stone,thomas.stone.746@gslingacademy.com,male,False,0,False,27,Unknown,68,95,66,65,89,84,100
805,806,Erin,Moore,erin.moore.806@gslingacademy.com,female,False,3,False,31,Software Engineer,100,85,62,62,89,65,67
841,842,David,Cole,david.cole.842@gslingacademy.com,male,False,7,False,31,Construction Engineer,80,87,94,68,89,82,76
999,1000,Dennis,Summers,dennis.summers.1000@gslingacademy.com,male,False,1,True,5,Real Estate Developer,65,83,67,84,89,65,73
1096,1097,Tristan,Martinez,tristan.martinez.1097@gslingacademy.com,male,False,3,False,18,Accountant,93,79,86,72,89,61,98
1152,1153,Desiree,Moore,desiree.moore.1153@gslingacademy.com,female,False,1,False,25,Software Engineer,99,98,80,83,89,68,61
1283,1284,Robert,Hancock,robert.hancock.1284@gslingacademy.com,male,False,2,False,1,Artist,79,88,97,94,89,82,97
1347,1348,Pamela,Moyer,pamela.moyer.1348@gslingacademy.com,female,False,1,False,25,Software Engineer,100,87,88,100,89,98,71
1432,1433,Christine,Collins,christine.collins.1433@gslingacademy.com,female,False,3,False,26,Designer,84,64,98,100,89,79,96
1444,1445,Jennifer,Gonzales,jennifer.gonzales.1445@gslingacademy.com,female,False,2,False,7,Teacher,79,78,100,90,89,80,68
1496,1497,Cory,Cook,cory.cook.1497@gslingacademy.com,male,False,1,False,31,Software Engineer,99,61,91,73,89,62,82
1519,1520,Mary,Taylor,mary.taylor.1520@gslingacademy.com,female,False,7,False,14,Software Engineer,92,74,90,87,89,94,87
1530,1531,Eduardo,Brown,eduardo.brown.1531@gslingacademy.com,male,False,0,False,48,Doctor,99,89,96,98,89,98,93
1620,1621,Todd,Williams,todd.williams.1621@gslingacademy.com,male,False,1,False,22,Construction Engineer,94,95,80,60,89,93,88
1719,1720,Joshua,Dillon,joshua.dillon.1720@gslingacademy.com,male,False,5,False,46,Doctor,100,97,94,87,89,91,100
1739,1740,Thomas,Ward,thomas.ward.1740@gslingacademy.com,male,False,3,False,35,Software Engineer,88,92,88,100,89,94,87
1748,1749,Molly,Meadows,molly.meadows.1749@gslingacademy.com,female,False,1,True,18,Teacher,80,93,89,79,89,93,100
1771,1772,Daniel,Gonzalez,daniel.gonzalez.1772@gslingacademy.com,male,False,2,True,30,Scientist,85,83,94,100,89,68,89
1791,1792,Katelyn,Watkins,katelyn.watkins.1792@gslingacademy.com,female,False,4,False,31,Doctor,93,81,88,90,89,95,81
1843,1844,Franklin,Riley,franklin.riley.1844@gslingacademy.com,male,False,0,False,29,Stock Investor,86,95,61,96,89,99,84
1876,1877,Julie,Rogers,julie.rogers.1877@gslingacademy.com,female,False,3,False,30,Scientist,92,88,99,92,89,66,76
1901,1902,Pamela,Gomez,pamela.gomez.1902@gslingacademy.com,female,False,3,True,9,Real Estate Developer,71,95,72,88,89,78,67